services:
  nextjs-app:
    build: .
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://cvirko-vadim.ru
    volumes:
      - nextjs_build:/app/.next
      - ./data:/app/data:ro
    restart: always

  certbot:
    image: certbot/certbot:latest
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./www:/var/www/certbot
    command: certonly --standalone --preferred-challenges http --email your-email@example.com --agree-tos --no-eff-email -d cvirko-vadim.ru -d www.cvirko-vadim.ru --force-renewal
    network_mode: host

  nginx:
    image: nginx:latest
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./logs/nginx:/var/log/nginx
      - ./www:/var/www/certbot
    depends_on:
      - certbot
      - nextjs-app
    restart: always

volumes:
  nextjs_build:
