version: '3.8'

services:
  certbot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./certbot/etc/letsencrypt:/etc/letsencrypt
      - ./certbot/var/lib/letsencrypt:/var/lib/letsencrypt
      - ./certbot/cloudflare.ini:/cloudflare.ini:ro
    entrypoint: sh -c "trap exit TERM; while :; do sleep 3600 & wait $${!}; done"

  nginx:
    image: nginx:stable-alpine
    depends_on:
      - nextjs
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    ports:
      - '80:80'
      - '443:443'

  nextjs:
    build:
      context: .
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
