/* Контейнер для слайдера */
.page {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.wrapper {
}
.title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 32px;
}
.rating {
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}
.sliderContainer {
	width: 100%;
	max-width: 1440px; /* Ограничение максимальной ширины слайдера */
	margin: 0 auto;
	padding: 0 20px;
}

/* Сам слайдер */
.slider {
	width: 100%;
	height: auto;
	position: relative; /* Для корректной работы с позиционированием */
}
.swiper-wrapper {
	height: 400px;
}

/* Слайды */
.swiper-slide {
	display: flex;
	justify-content: center; /* Центрируем изображение по горизонтали */
	align-items: center; /* Центрируем изображение по вертикали */
	width: 100%; /* Слайд занимает всю доступную ширину */
}

/* Обертка для изображения */
.slideWrapper {
	position: relative;
	width: 100%;
	height: 100%; /* Слайд займет всю высоту */
}

/* Стили изображения */
.image {
	object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
	width: 100%;
	height: 100%;
}
.bye {
	margin-top: 10px;
	text-align: center;
}
.button {
	margin-top: 10px;
}

.info {
}
.byeText {
	font-size: 14px;
}

.infoItem {
	font-size: 24px;
}
/* Стили для адаптивности */
@media (max-width: 1024px) {
	.rating {
		font-size: 18px;
	}
	.infoItem {
		font-size: 20px;
	}
	.sliderContainer {
		padding: 0 10px;
	}

	.swiper-slide {
		height: 300px; /* Меньше высота слайда на планшетах */
	}
}

@media (max-width: 768px) {
	.rating {
		font-size: 16px;
	}
	.infoItem {
		font-size: 18px;
	}
	.title {
		margin-bottom: 10px;
	}
	.sliderContainer {
		padding: 0;
	}

	.swiper-slide {
		height: 200px; /* Меньше высота слайда на мобильных */
	}

	.image {
		object-position: center center; /* Центрируем изображение */
	}
}
@media (max-width: 468px) {
	.rating {
		font-size: 14px;
	}
	.infoItem {
		font-size: 14px;
	}
	.title {
		font-size: 18px;
		margin-bottom: 10px;
	}
}
